.App {
  text-align: center;
  background-image: url('../assets/bj-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  */
.hit-stand-container {
  display: flex;
  justify-content: center;
}
  .hit-stand-container.btn{
  padding: 80px;
  padding-bottom: 0px;
  font-size: 26px !important;
  font-weight: 500 !important;
  }


.stand-btn {
  margin-left: 30px;

}

.message-container {
  min-height: 40px;
  margin-bottom: 27vh;
}

.message-container h1{
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}

/* Container styling */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide the container into 3 equal columns */
  gap: 20px;
}

.grid-container:first-of-type {
  margin-bottom: 8vh;
}

.grid-container .message-container {
  grid-column: 2;
}
