name: Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.15.1
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npm test -- --watchAll=false --coverage=false --json > output.json

      - name: Run ESLint
        run: npx eslint src --ext .js,.jsx --format json > eslint.json
        if: always()

      - name: Add SHORT_SHA env property with commit short sha
        run: echo "SHORT_SHA=`echo ${{ github.sha }} | cut -c1-8`" >> $GITHUB_ENV
      
      - name: Concatenate JSON Payloads
        run: |
          tail -n +4 output.json > test_results.json
          test_results=$(cat test_results.json)
          style_results=$(cat eslint.json)
          payload=$(jq --argjson test "$test_results" --argjson style "$style_results" '. + {test: $test, style: $style}' <<EOF
          {
            "repo_name": "${{ github.repository }}",
            "language" : "javascript",
            "url": "${{ github.event.repository.url }}",
            "commit_sha" : "${{ env.SHORT_SHA }}"
          }
          EOF
          )
          echo "$payload" > payload.json
        if: always()

      - name: Send JSON to Server
        run: |
          echo $PAYLOAD_URL
          echo $env.PAYLOAD_URL
          curl -X PUT \
            -H "Content-Type: application/json" \
            -d @payload.json \
          ${{ vars.PAYLOAD_URL }}
        if: always()
